
.content-all{
width: 100%;
max-width: 1000px;
margin: auto;
margin-top: 60px;

}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}


body{
background-image: url(../img/fondo.png);
background-repeat: no-repeat;
margin:fixed;
background-position: center center;
background-size: cover; /* redimencionar la imagen*/
background-attachment: fixed;/*para atar la imagen*/

}

h1{
   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;
    font-size: 60px;
    text-align: center;
    border-radius: 10px;   
}

aside.Git_logo{
        
    padding: 40px;
    margin-top:20px;
    width: center;
    margin-left:auto ;
    margin-right: auto;
    display: block;/*hacer que la imagen se quede en el centro*/   
    
 }

 aside.htmlccs3{
        
    padding: 40px;
    margin-top:20px;
    width: 100%;
    margin-left:auto ;
    margin-right: auto;
    display: block;/*hacer que la imagen se quede en el centro*/   
    
 }


h3{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;
    font-size: 40px;
    margin-top: auto;
    text-align: center;
}


aside.Github{
    transform: scale(0.4);
    border-radius: 80px;
    margin-left:auto ;
    margin-right: auto;
    display: block;/*hacer que la imagen se quede en el centro*/    
        
}


article{
    
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 40px;
    padding: 40px;
    border:4px solid whitesmoke;
    text-align: justify;
    text-shadow:0 0 13px; color: black ;

}

header{
    width: 100%;
    background: #f2f2f2;
    box-shadow: 1px 1px 5px #000;
    height: 50px;
}

#menu{
    width:600px;
    margin: 50px auto;
    padding-top: 15px;
}

#menu ul a{
    color:black;
    font: 19px Verdana;
    background: transparent;
    padding: 12px 20px 12px 20px;
    border-bottom: 8px solid transparent;
    text-decoration: none;
    transition: border-bottom .9s;
    -webkit-transition: border-bottom .9s;
    -moz-transition: border-bottom .9s;
    -o-transition: border-bottom .9s;
}

#menu ul a:hover{
    border-bottom: 9px solid orange;
    color: 240 180 41;
    text-decoration: none;
    text-shadow:0 0 13px grey;
}

h1{
width: 100%;
max-width: 1000px;
margin: auto;
margin-top: 5px;
position: relative; 
height: 160px;
color:#b3b3b3;
background-image: url(../img/titulo.png);
background-size: 1200px;
background-repeat: no-repeat;
background-position: 100%;
border: 4PX solid silver;
}

.PaginGit{

    width: 60%;
    margin-left:auto ;
    margin-right: auto;
    display: block;/*hacer que la imagen se quede en el centro*/
    border-radius: 5px;
    border-style: solid ;
    border-color: darkgoldenrod;
    text-decoration: none;
    
}

.PaginGit:hover{
    
    transition: all 0.5s;
    transform: scale(0.9);     
}
.PaginGitHub{
    width: 60%;
    margin-left:auto ;
    margin-right: auto;
    display: block;/*hacer que la imagen se quede en el centro*/
    border-radius: 5px;
    border-style: solid ;
    border-color: darkgoldenrod;
    text-decoration: none;
}
.PaginGitHub:hover{
    
    transition: all 0.5s;
    transform: scale(0.9);     
}



.separador{
    height: 20px;
 
}
.videoGit{
       
    margin-left:auto ;
    margin-right: auto;
    display: block;/*hacer que la imagen se quede en el centro*/
    width: 560px;
    height: 315px;

}
.videoGitHub{
    margin-left:auto ;
    margin-right: auto;
    display: block;/*hacer que la imagen se quede en el centro*/
    width: 560px;
    height: 315px;

}
.Videohtml{
    margin-left:auto ;
    margin-right: auto;
    display: block;/*hacer que la imagen se quede en el centro*/
    width: 560px;
    height: 315px;
}
.pie_pag{
    
    width: 100%;
    background: #f2f2f2;
    box-shadow: 1px 1px 5px #000;
    height: 60px;
    text-align: center;
    border-radius: 5px;
    border-style: solid ;
    border-color: darkgoldenrod;
    font-size: 15px;
    text-shadow:0 0 13px black;

}



/*.ancho_menu_home{width: 900px;}
.ancho_menu_paginas{width: 970px;}
.menu:link{ color: black;text-decoration: none;}
.menu:visited{color: black;text-decoration: none;}
.menu:hover{color: green;text-decoration: none;text-shadow:0 0 13px whitesmoke;}
.menu:active{color: black;text-decoration: none;}*/