
.content-all{
width: 100%;
max-width: 1000px;
margin: auto;
margin-top: 60px;

}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}


body{
background-image: url(../img/fondo.png);
background-repeat: no-repeat;
margin:fixed;

}

main{

    width: 100%;
    height: auto;

}
h1{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;
    font-size: 60px;
    margin-top: 1000px;
    text-align: center;
}

aside{
        
    padding: 100px;
    top:20px;
    margin-left: 250px
    
    
}

h3{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;
    font-size: 40px;
    margin-top: auto;
    text-align: center;
}
#list-image{
    margin-top: 100px;
}
.content-all.list-image.figure{
    top: 404px;
    width: 50px;
    
    height: 1px;
}


li{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    float: left;
    list-style-type: none;
       padding: 10px;
    background-image: transparent;
    background-size: 180px;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin: 8px;
    /*box-shadow: 0 0 10px black inset;*/

}
article{
    
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 40px;
    padding: 40px;
    border:4px solid whitesmoke;
    text-align: justify;
    text-shadow:0 0 13px; color: black ;

}

header{
    width: 100%;
    background: #f2f2f2;
    box-shadow: 1px 1px 5px #000;
    height: 50px;
    
    

/* primer diseño 
header{width: 100%;
max-width: 1000px;
margin: auto;
margin-top: 5px;
position: fixed;
height: 60px;
left: 0;
top: 0;
*/
}

#menu{
    width:500px;
    margin: 20px auto;
    padding-top: 15px;
}

#menu ul a{
    color:black;
    font: 19px Verdana;
    background: transparent;
    padding: 12px 20px 12px 20px;
    border-bottom: 8px solid transparent;
    text-decoration: none;
    transition: border-bottom .9s;
    -webkit-transition: border-bottom .9s;
    -moz-transition: border-bottom .9s;
    -o-transition: border-bottom .9s;
}

#menu ul a:hover{
    border-bottom: 9px solid orange;
    color: 240 180 41;
    text-decoration: none;
    text-shadow:0 0 13px grey;
}

h1{
width: 100%;
max-width: 1000px;
margin: auto;
margin-top: 5px;
position: relative; 
height: 160px;
color:#b3b3b3;
    background-image: url(../img/titulo.png);
background-size: 1200px;
background-repeat: no-repeat;
background-position: 100%;
border: 4PX solid silver;

}

/*.ancho_menu_home{width: 900px;}
.ancho_menu_paginas{width: 970px;}
.menu:link{ color: black;text-decoration: none;}
.menu:visited{color: black;text-decoration: none;}
.menu:hover{color: green;text-decoration: none;text-shadow:0 0 13px whitesmoke;}
.menu:active{color: black;text-decoration: none;}*/